In [218]:
n = int(input('수를 입력하세요 :'))
fact = 1
for i in range(1, n+1):
    fact =fact * i

print('{}! = {}'.format(n, fact))

10! = 3628800

In [214]:
n = int(input('합계를 구할 수를 입력하세요 :'))
s = 0

for i in range(1, n+1):
    s = s + i

print('1부터 {}까지의 합은 {}'.format(n,s))

1부터 100까지의 합은 5050

In [208]:
n = int(input('합계를 구할 수를 입력하세요 :'))
s = 0

for i in range(0,n):
    s = s + (i+1)

print('1부터 {}까지의 합은 {}'.format(n, s))

1부터 100까지의 합은 5050

In [203]:
s = 0
for i in range(1,11):
    s = s + i
    print('i = {}, s = {}'.format(i,s))

print('1에서 10까지의 합:', s)

i = 1, s = 1
i = 2, s = 3
i = 3, s = 6
i = 4, s = 10
i = 5, s = 15
i = 6, s = 21
i = 7, s = 28
i = 8, s = 36
i = 9, s = 45
i = 10, s = 55
1에서 10까지의 합: 55

In [204]:
s = 0
for i in range(1, 11):
    s = s + i
print('1에서 10까지의 합:', s)

1에서 10까지의 합: 55

In [200]:
for i in range(2,5):
    print(i, end = ' ')
print()

for i in range(0, 10, 2):
    print(i, end = ' ')
print()

for i in range(-2, -10, -2):
    print(i, end = ' ')
print()

2 3 4
0 2 4 6 8
-2 -4 -6 -8

In [198]:
for i in range(5):
    print(i, end = ' ')
print()

for i in range(0, 5):
    print(i, end = ' ')
print()

0 1 2 3 4
0 1 2 3 4

In [197]:
for i in range(5):
    print(i, end = ' ')


for i in range(0, 5):
    print(i, end = ' ')

0 1 2 3 4 0 1 2 3 4

In [192]:
for i in range(5):
    print(i)

0
1
2
3
4

In [191]:
list(range(1,101,1))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [188]:
list(range(5))
list(range(0, 5))
list(range(0, 5, 1))
list(range(0, 5, 2))
list(range(2,5))
list(range(0, 10, 2))
list(range(1, 10, 2))
list(range(-2, -10, -2))

[-2, -4, -6, -8]

In [184]:
for i in range(5):
    print(i)

0
1
2
3
4

In [182]:
for i in range(5):
    print('Hello, Python!')

Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!

In [179]:
for i in range(10):
    print(i, 'Welcome to everyon!!')

0 Welcome to everyon!!
1 Welcome to everyon!!
2 Welcome to everyon!!
3 Welcome to everyon!!
4 Welcome to everyon!!
5 Welcome to everyon!!
6 Welcome to everyon!!
7 Welcome to everyon!!
8 Welcome to everyon!!
9 Welcome to everyon!!

In [175]:
print('Welcome to everyon!!')
print('Welcome to everyon!!')
print('Welcome to everyon!!')
print('Welcome to everyon!!')
print('Welcome to everyon!!')

Welcome to everyon!!
Welcome to everyon!!
Welcome to everyon!!
Welcome to everyon!!
Welcome to everyon!!

In [174]:
mi = int(input('미세먼지 농도를 입력하세요'))

if mi <= 15:
    grade = '좋은'
elif mi <= 35:
    grade = '보통'
elif mi <= 75:
    grade = '나쁨'
else:
    grade = '매우나쁨'

print(grade)

나쁨

In [170]:
km = int(input('속도를 입력하세요'))

if km <= 60:
    grade = '저속'
elif km >= 130:
    grade = '고속'

print(grade)

고속

In [166]:
score = int(input('점수를 입력하세요 :'))

if score >= 90:
    grade = 'A'
elif scpre >= 80:
    grade = 'B'
elif scpre >= 70:
    grade = 'C'
elif scpre >= 60:
    grade = 'D'
else:
    grade = 'F'

    
print('당신의 등급은 :', grade)

당시느이 등급은 : A

In [162]:
score = int(input('점수를 입력하세요 :'))

if score >= 90:
    grade = 'A'
else:
    if score >= 80 :
        grade = 'B'
    else:
        if score >= 70:
            grade = 'C'
        else: 
            if score >= 60 :
                grade = 'D'
            else:
                   grade = 'F'

print('당신의 등급은 :', grade)

당시느이 등급은 : B

In [159]:
score = int(input('점수를 입력하세요:'))
if score >= 90 :
    grade = 'A'
if score < 90 and score >= 80:
    grade = 'B'
if 80 > score >= 70:
    grade = 'C'
if 70 > score >= 60:
    grade = 'D'
if 60 > score >= 50:
    grade = 'F'
    
print('당신의 등급은 :', grade)

당신의 등급은 : D

In [155]:
year = int(input('연도를 입력하세요 :'))
is_leap_year = ((year % 4 == 0) and (year % 100 !=0) or (year % 400 == 0))
print(year, '년은 윤년입니까?', is_leap_year)

1992 년은 윤년입니까? True

In [149]:

age = 12
if 10< age < 19:
    print('청소년입니다.')

청소년입니다.

In [151]:
age = 10
if 10< age < 19:
    print('청소년입니다.')

In [146]:
num = 11
if 0 < num <=10 :
    print(True)
else:
    print(False)

False

In [116]:
a = 8
b = 14
if ( a% 2 == 0) and (b % 2 == 0):
    print('두 수 모두 짝수입니다.')

if (a % 2 == 0) or (b % 2 == 0):
    print('두 수 중 하나 이상이 짝수입니다.')

두 수 모두 짝수입니다.
두 수 중 하나 이상이 짝수입니다.

In [105]:

x = 1 # 당신은 성인인가요?
y = 1 # 결혼은 하셨나요?
if x == 0 and y == 0:
    print('당신은 비혼인 미성년입니다')
if x == 1 and y == 0:
    print('당신 비혼인 성인입니다')
if x == 0 and y == 1:
    print('당신 결혼한 미성년입니다')
if x == 1 and y == 1:
    print('당신 결혼한 성인입니다')

당신 결혼한 성인입니다

In [99]:
x = 0
y = 1
if x == 1:
    print('당신은 미성년자입니다')
else:
    print('당신은 성인입니다')

당신은 성인입니다

In [96]:
x = 200
y = 200
if x == y:
    print(' x와 y','두 값이 같습니다')
else:
    print(' x와 y','두 값이 일치하지 않습니다' )

 x와 y 두 값이 같습니다

In [85]:
game_score = 1300
if game_score <= 1000:
    print(game_score, '입문자 입니다')
else:
    print(game_score, '고수입니다')

1300 고수입니다

In [84]:
game_score = 800
if game_score <= 1000:
    print(game_score, '입문자 입니다')
else:
    print(game_score, '고수입니다')

8000 고수입니다

In [74]:
num = -199
if num < 0:
    print(num, '은(는) 음수입니다.')
else:
    print(num, '은(는) 음수가 아닙니다')
    
    if num % 2 == 0:
        print(num, '은(는) 짝수입니다.')
    else:
        print(num, '은(는) 짝수가 아닙니다')

-199 은(는) 음수입니다.

In [70]:
num = -10
if num <0:
    print(num, '음수입니다')
else:
    print(num, '음수가 아닙니다')

-10 음수입니다

In [71]:
num = 10
if num <0:
    print(num, '음수입니다')
else:
    print(num, '음수가 아닙니다')

10 음수가 아닙니다

In [66]:
hour = 1
if hour < 12:
    print('오전입니다')
if hour >= 12:
    print('오후입니다')

오전입니다

In [60]:
y = -10
if y <= -1:
    print(y,'은(는) 음수입니다')

-10 은(는) 음수입니다

In [59]:
x = 3560
if x >= 1:
    print(x, '은(는) 자연수입니다')

3560 은(는) 자연수입니다

In [52]:
n = 75
if n % 2 ==0:
    print(n, '은(는) 짝수입니다')

In [47]:
number = 50
if number % 2 == 0:
    print(number, '은(는) 짝수입니다')

50 은(는) 짝수입니다

In [44]:
number = int(input('정수를 입력하세요 : '))
if number % 3 == 0 and number % 5 == 0:
    print(number, '은(는) 3의 배수이면서 5의 배수입니다')

15 은(는) 3의 배수이면서 5의 배수입니다

In [43]:
number = int(input('정수를 입력하세요 :'))
if number % 3 == 0:
    print(number, '은(는) 3의 배수입니다.')

12 은(는) 3의 배수입니다.

In [38]:
num = 300
if num > 200:
    print('num은 200보다 큽니다.')

In [36]:
age = 18
if age < 20:
    print('나이', age)
    print('청소년 할인')

나이 18
청소년 할인

In [33]:
age = 24
if age < 20:
    print('나이', age)
    print('청소년 할인')
    print('입장을 환영합니다')

In [32]:
age = 18
if age < 20:
    print('나이', age)
    print('청소년 할인')
    print('입장을 환영합니다')

나이 19
청소년 할인
입장을 환영합니다

In [30]:
age = 24
if age < 20:
    print('청소년 할인')
print('입장을 환영합니다')

입장을 환영합니다

In [29]:
age = 19
if age < 20:
    print('청소년 할인')
print('입장을 환영합니다')

청소년 할인
입장을 환영합니다

In [28]:
age = 18
if age < 20:
    print('청소년 할인')

청소년 할인

In [25]:
num_a = 300
num_b = 300
if num_a == num_b:
    print('두 값이 일치합니다')

두 값이 일치합니다

In [24]:
num_a = 100
num_b = 200
if num_a == num_b:
    print('두 값이 일치합니다')

In [15]:
# walk_count = 800
walk_count = 1300
if walk_count >= 1000:  
    print('당신은 고수입니다')

당신은 고수입니다

In [10]:
walk_count = 800

if walk_count <= 1000:
    print('목표 달성')

목표 달성

In [9]:
age = 24 #age가 20 이상의 값

if age > 20:  # age < 20 조건식의 결과는 False임
    print('청소년 할인')

청소년 할인

In [1]:
age = 18
if age < 20:
    print('청소년 할인')

청소년 할인

In [182]:
for i in range(5, 0, -1):
    print((i) * '*')

*****
****
***
**
*

In [ ]:
n = int(input('수를 입력하세요 : '))
fact = 1
for i in range(1, n+2):
    fact = fact * i
    
print('{}! = {}'.format(n, fact))

In [171]:
2 << 3 # << 거든 제곱

16

In [168]:
num = int(input('숫자를 입력하세요 :'))
print(num, "의 루트 : ",num**(1/2))

139 의 루트 :  11.789826122551595

In [164]:
n = int(input('수를 입력하세요 : '))
fact = 1
for i in range(1, n+2):
    fact = fact * i
    
print('{}! = {}'.format(n, fact))

10! = 3628800

In [162]:
print(1*2*3*4*5*6*7*8*9*10)

3628800

In [161]:
radius = 11
PI = 3.141592
print('원의 면적 :', PI * radius ** 2 )
print('원의 둘레 :', radius * PI * 2.0)

원의 면적 : 380.132632
원의 둘레 : 69.115024

In [157]:
f = int(input('섭씨온도를 입력하세요.'))
c = int(input('화씨온도를 입력하세요.'))
print("섭씨" ,f, " 도는 화씨 ",c,"  도 입니다")

섭씨 0  도는 화씨  30   도 입니다

In [144]:
a = 4
n = 2
print(a**n)

16

In [141]:
print(1+2+3+4+5+6+7+8+9+10)

55

In [139]:
l = int(input('정사각형의 밑변을 입력하시오 :'))
print(l ** 2)

1600

In [138]:
width = 40
height = 20
area = width * height / 2
area

400.0

In [135]:
width = 40
height = 20
area = width * height
area

800

In [134]:
width = 30
height = 60
print(width * height)

1800

In [133]:
width = 30
height = 60
print(width)
print(height)

30
60

In [132]:
print(200,'+', 300,'+', 400 ,'=', 200+300+400)

200 + 300 + 400 = 900

In [128]:
m = int(input('숫자 m을 입력하세요 :'))
n = int(input('숫자 n을 입력하세요 : '))
print('m + n=', m + n)
print('m - n=', m - n)

m + n= 80
m - n= -20

In [127]:
name = input('이름을 입력하세요 :')
print(name, '님이 입장하셨습니다.')

김유신 님이 입장하셨습니다.

In [113]:
9 & 10
bin(8)

'0b1000'

In [126]:

name = input('입력을 입려하세요:' ) #input 입력을 받는다
print('이름 :', name)
age = int(input('나이를 입력하세요 :'))
print('10년 후 나이 :', age + 10)

이름 : 홍길동
10년 후 나이 : 32

In [117]:
4 << 1
4 << 2

16

In [116]:
9^10

3

In [115]:
9|10

11

In [111]:
bin(9)
bin(10)

'0b1010'

In [109]:
x = True
y = False
x and y
x or y
not x

False

In [108]:
a, b = 100, 200
a == b
a != b
a > b
a < b
a >= b

False

In [101]:
num = 200
num = num + 100
num

300

In [100]:
result1 = 10 * 20
result1
result2 = (2 * 3) - (4 ** 2) / 2
result2

-2.0

In [98]:
num1 = num2 = num3 = 200 # 다중 할당문
print(num1,num2, num3)
num4, num5 = 300, 400 # 동시 할당문
print(num4, num5)

200 200 200
300 400

In [96]:
c1 = 2+ 3j
c2 = c1.conjugate()
c2
abs(c1)
c3 = c1 * c2
abs(c1)*abs(c1)

12.999999999999998

In [91]:
c1 = 2+3j
c1.real # C1의 실수부 허용
c1.imag # C1의 허수부 허용
c2 = 5+6j
c3 = c1 + c2
c3

(7+9j)

In [88]:
print(0.1 + 0.1 == 0.2)
print(0.1 + 0.1 + 0.1 == 0.3)

True
False

In [87]:
print(1+2)
print(1.0+2.0)
print(1+2.0)
print(1/2)
print(5.0 == 5.00)

3
3.0
3.0
0.5
True

In [84]:
txt = 'hello'
txt
print(txt)

hello

In [82]:
txt6 = '''let's go'''
txt6
txt7 = '''큰따옴표(")와 작은따옴표(')를 모두 포함한 문장'''
txt7
long_str="""사과는 맛있어
맛있는 건 바나나
"""
long_str
print(long_str)

사과는 맛있어
맛있는 건 바나나

In [75]:
txt5 = 'banana\napple\norange'
print(txt5)

banana
apple
orange

In [64]:
txt3 = "친구가/"햇님이 좋아!/"라고 말했다"
txt3

SyntaxError: invalid syntax (2796399964.py, line 1)

In [62]:
txt3 = "친구가 '햇님이 좋아!'라고 말했다."
txt3

"친구가 '햇님이 좋아!'라고 말했다."

In [60]:
txt2 = "강아지 이름은 '햇님'이야"
txt2

"강아지 이름은 '햇님'이야"

In [59]:
txt1 = '강아지 이름은 "햇님"이야'
txt1

'강아지 이름은 "햇님"이야'

In [57]:
x = ["A","B","C"]
str(x)

"['A', 'B', 'C']"

In [56]:
x = ['A', 'B', 'C']
str(x)

"['A', 'B', 'C']"

In [55]:
str(123.5)

'123.5'

In [54]:
str(100)

'100'

In [53]:
t = ('홍길동', 30, '율도국의 왕')
type(t)

tuple

In [52]:
d ={'apple': 3000, 'banana': 4200}
type(d)

dict

In [45]:
l = [100, 300, 500, 900]
type(l)

list

In [44]:

# num= 85
# type(num)
pi = 3.14159
type(pi)
# message = "Good morning"
# type(message)

float

In [37]:
5%2

1

In [27]:
# LAB 2-6///
width= 20
height = 40
width = 30
area = width * height
print('사각형의면적', area)

사각형의면적 1200

In [1]:
print('4와 5')

4와 5

In [2]:
# 2-3 
radius = 4.0
print('원의 반지름', radius)
print('원의 면적', 3.14 * radius * radius)
print('원의 둘레', 2 *3.14 * radius)

원의 반지름 4.0
원의 면적 50.24
원의 둘레 25.12

In [3]:
# 2-4
radius = 6
print('원의 반지름', radius)
print('원의 면적', 3.14 *radius*radius)
print('원의 둘레', 2.0 * 3.14 *radius)

원의 반지름 6
원의 면적 113.03999999999999
원의 둘레 37.68

In [12]:
# 원의 면적과 둘레 구하기
print('원의 반지름', 8)
print('원의 면적',3.14*8.0*8.0)
print('원의 둘레', 2.0*3.14 * 8.0)

원의 반지름 8
원의 면적 200.96
원의 둘레 50.24

In [7]:
100

100

In [6]:
print('파이썬은 재미있어요~')

파이썬은 재미있어요~

In [12]:
width = 20
height = 40
area = (width * height)
print('사각형의 면적', area)

사각형의 면적 800

In [13]:
iixxjjkk = 20
print('나의 나이는', iixxjjkk, '세 입니다')

나의 나이는 20 세 입니다

In [15]:
v1 = 1
v2 = 2
thisiaverylongvariavlename = v1 + v2
print(thisiaverylongvariavlename)

3

In [16]:
radius = 20
depth = 10
final_length = 0.5* radius * depth
print('삼각형의 면적은', final_length)

삼각형의 면적은 100.0

In [18]:
1st_year = 30
2nd_year = 30
3rd_year = 16
all_years+ = 1st_year + 2nd_tear + 3rd_tear
print(all_years+)

SyntaxError: invalid decimal literal (4203587002.py, line 1)

In [19]:
name = '홍길동'
age = 27
print('안녕! 나는', name, '이야. 나는 나이가', age, '살이야.')

안녕! 나는 홍길동 이야. 나는 나이가 27 살이야.

In [23]:
# 2-6
name = '홍길동'
age = 27
print('안녕! 나는',name,' 이야. 나는 나이가',age,' 살이야')
name = '홍길순'
age = 23
print('안녕! 나는',name,' 이야. 나는 나이가',age,' 살이야')

안녕! 나는 홍길동  이야. 나는 나이가 27  살이야
안녕! 나는 홍길순  이야. 나는 나이가 23  살이야