In [182]:
for i in range(5, 0, -1):
    print((i) * '*')

*****
****
***
**
*

In [ ]:
n = int(input('수를 입력하세요 : '))
fact = 1
for i in range(1, n+2):
    fact = fact * i
    
print('{}! = {}'.format(n, fact))

In [171]:
2 << 3 # << 거든 제곱

16

In [168]:
num = int(input('숫자를 입력하세요 :'))
print(num, "의 루트 : ",num**(1/2))

139 의 루트 :  11.789826122551595

In [164]:
n = int(input('수를 입력하세요 : '))
fact = 1
for i in range(1, n+2):
    fact = fact * i
    
print('{}! = {}'.format(n, fact))

10! = 3628800

In [162]:
print(1*2*3*4*5*6*7*8*9*10)

3628800

In [161]:
radius = 11
PI = 3.141592
print('원의 면적 :', PI * radius ** 2 )
print('원의 둘레 :', radius * PI * 2.0)

원의 면적 : 380.132632
원의 둘레 : 69.115024

In [157]:
f = int(input('섭씨온도를 입력하세요.'))
c = int(input('화씨온도를 입력하세요.'))
print("섭씨" ,f, " 도는 화씨 ",c,"  도 입니다")

섭씨 0  도는 화씨  30   도 입니다

In [144]:
a = 4
n = 2
print(a**n)

16

In [141]:
print(1+2+3+4+5+6+7+8+9+10)

55

In [139]:
l = int(input('정사각형의 밑변을 입력하시오 :'))
print(l ** 2)

1600

In [138]:
width = 40
height = 20
area = width * height / 2
area

400.0

In [135]:
width = 40
height = 20
area = width * height
area

800

In [134]:
width = 30
height = 60
print(width * height)

1800

In [133]:
width = 30
height = 60
print(width)
print(height)

30
60

In [132]:
print(200,'+', 300,'+', 400 ,'=', 200+300+400)

200 + 300 + 400 = 900

In [128]:
m = int(input('숫자 m을 입력하세요 :'))
n = int(input('숫자 n을 입력하세요 : '))
print('m + n=', m + n)
print('m - n=', m - n)

m + n= 80
m - n= -20

In [127]:
name = input('이름을 입력하세요 :')
print(name, '님이 입장하셨습니다.')

김유신 님이 입장하셨습니다.

In [113]:
9 & 10
bin(8)

'0b1000'

In [126]:

name = input('입력을 입려하세요:' ) #input 입력을 받는다
print('이름 :', name)
age = int(input('나이를 입력하세요 :'))
print('10년 후 나이 :', age + 10)

이름 : 홍길동
10년 후 나이 : 32

In [117]:
4 << 1
4 << 2

16

In [116]:
9^10

3

In [115]:
9|10

11

In [111]:
bin(9)
bin(10)

'0b1010'

In [109]:
x = True
y = False
x and y
x or y
not x

False

In [108]:
a, b = 100, 200
a == b
a != b
a > b
a < b
a >= b

False

In [101]:
num = 200
num = num + 100
num

300

In [100]:
result1 = 10 * 20
result1
result2 = (2 * 3) - (4 ** 2) / 2
result2

-2.0

In [98]:
num1 = num2 = num3 = 200 # 다중 할당문
print(num1,num2, num3)
num4, num5 = 300, 400 # 동시 할당문
print(num4, num5)

200 200 200
300 400

In [96]:
c1 = 2+ 3j
c2 = c1.conjugate()
c2
abs(c1)
c3 = c1 * c2
abs(c1)*abs(c1)

12.999999999999998

In [91]:
c1 = 2+3j
c1.real # C1의 실수부 허용
c1.imag # C1의 허수부 허용
c2 = 5+6j
c3 = c1 + c2
c3

(7+9j)

In [88]:
print(0.1 + 0.1 == 0.2)
print(0.1 + 0.1 + 0.1 == 0.3)

True
False

In [87]:
print(1+2)
print(1.0+2.0)
print(1+2.0)
print(1/2)
print(5.0 == 5.00)

3
3.0
3.0
0.5
True

In [84]:
txt = 'hello'
txt
print(txt)

hello

In [82]:
txt6 = '''let's go'''
txt6
txt7 = '''큰따옴표(")와 작은따옴표(')를 모두 포함한 문장'''
txt7
long_str="""사과는 맛있어
맛있는 건 바나나
"""
long_str
print(long_str)

사과는 맛있어
맛있는 건 바나나

In [75]:
txt5 = 'banana\napple\norange'
print(txt5)

banana
apple
orange

In [64]:
txt3 = "친구가/"햇님이 좋아!/"라고 말했다"
txt3

SyntaxError: invalid syntax (2796399964.py, line 1)

In [62]:
txt3 = "친구가 '햇님이 좋아!'라고 말했다."
txt3

"친구가 '햇님이 좋아!'라고 말했다."

In [60]:
txt2 = "강아지 이름은 '햇님'이야"
txt2

"강아지 이름은 '햇님'이야"

In [59]:
txt1 = '강아지 이름은 "햇님"이야'
txt1

'강아지 이름은 "햇님"이야'

In [57]:
x = ["A","B","C"]
str(x)

"['A', 'B', 'C']"

In [56]:
x = ['A', 'B', 'C']
str(x)

"['A', 'B', 'C']"

In [55]:
str(123.5)

'123.5'

In [54]:
str(100)

'100'

In [53]:
t = ('홍길동', 30, '율도국의 왕')
type(t)

tuple

In [52]:
d ={'apple': 3000, 'banana': 4200}
type(d)

dict

In [45]:
l = [100, 300, 500, 900]
type(l)

list

In [44]:

# num= 85
# type(num)
pi = 3.14159
type(pi)
# message = "Good morning"
# type(message)

float

In [37]:
5%2

1

In [27]:
# LAB 2-6///
width= 20
height = 40
width = 30
area = width * height
print('사각형의면적', area)

사각형의면적 1200

In [1]:
print('4와 5')

4와 5

In [2]:
# 2-3 
radius = 4.0
print('원의 반지름', radius)
print('원의 면적', 3.14 * radius * radius)
print('원의 둘레', 2 *3.14 * radius)

원의 반지름 4.0
원의 면적 50.24
원의 둘레 25.12

In [3]:
# 2-4
radius = 6
print('원의 반지름', radius)
print('원의 면적', 3.14 *radius*radius)
print('원의 둘레', 2.0 * 3.14 *radius)

원의 반지름 6
원의 면적 113.03999999999999
원의 둘레 37.68

In [12]:
# 원의 면적과 둘레 구하기
print('원의 반지름', 8)
print('원의 면적',3.14*8.0*8.0)
print('원의 둘레', 2.0*3.14 * 8.0)

원의 반지름 8
원의 면적 200.96
원의 둘레 50.24

In [7]:
100

100

In [6]:
print('파이썬은 재미있어요~')

파이썬은 재미있어요~

In [12]:
width = 20
height = 40
area = (width * height)
print('사각형의 면적', area)

사각형의 면적 800

In [13]:
iixxjjkk = 20
print('나의 나이는', iixxjjkk, '세 입니다')

나의 나이는 20 세 입니다

In [15]:
v1 = 1
v2 = 2
thisiaverylongvariavlename = v1 + v2
print(thisiaverylongvariavlename)

3

In [16]:
radius = 20
depth = 10
final_length = 0.5* radius * depth
print('삼각형의 면적은', final_length)

삼각형의 면적은 100.0

In [18]:
1st_year = 30
2nd_year = 30
3rd_year = 16
all_years+ = 1st_year + 2nd_tear + 3rd_tear
print(all_years+)

SyntaxError: invalid decimal literal (4203587002.py, line 1)

In [19]:
name = '홍길동'
age = 27
print('안녕! 나는', name, '이야. 나는 나이가', age, '살이야.')

안녕! 나는 홍길동 이야. 나는 나이가 27 살이야.

In [23]:
# 2-6
name = '홍길동'
age = 27
print('안녕! 나는',name,' 이야. 나는 나이가',age,' 살이야')
name = '홍길순'
age = 23
print('안녕! 나는',name,' 이야. 나는 나이가',age,' 살이야')

안녕! 나는 홍길동  이야. 나는 나이가 27  살이야
안녕! 나는 홍길순  이야. 나는 나이가 23  살이야